/* works $ shop imgs */
/* generals */
* {
  margin: 0;
}

h2 {
  padding: 1em 0;
  color: white;
}

h3 {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: white;
}

p {
  color: white;
}

html {
  scroll-padding: 130px;
}

main {
  padding: 0 3em;
  background-color: black;
}

footer {
  background-color: #262626;
}

body {
  background-color: #262626;
}

/* end generals */
/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header nav div div {
  width: 30%;
  display: flex;
}
header nav div div a {
  width: 64px;
}
header nav div div a .logo-img {
  width: 64px;
  height: 64px;
}
header nav div div a {
  text-decoration: none;
  place-self: center;
}
header nav div div a h1 {
  margin: 0 auto;
  color: white;
  vertical-align: center;
}
header nav div div .navbar-nav {
  margin: 0 auto;
  justify-content: center;
}
header nav div div .navbar-nav .nav-item {
  padding: 0 10%;
}
@media only screen and (min-width: 992px) {
  header nav div div .navbar-nav .nav-item:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -moz-transform: scale(1.4);
  }
}

/* end header */
/* services */
.start .services .row div .services-video {
  width: 100%;
  height: 300px;
}
.start .services .row .services-text {
  display: flex;
  align-items: center;
}

/* end services */
/* works */
.start .works .works-container {
  display: flex;
  justify-content: space-around;
}
.start .works .works-container .works-div .preview-img {
  width: 80%;
  height: 55%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.start .works .works-container .works-div .works-text {
  text-align: center;
}
@media only screen and (max-width: 460px) {
  .start .works .works-container .works-div .works-text {
    margin-bottom: 20em;
  }
}

/* end works */
/* faq */
.start .faq .faq-container {
  margin: 1.5em 0;
  justify-content: space-around;
}
.start .faq .faq-container div .faq-title {
  text-align: center;
}
.start .faq .faq-container div .faqs-text {
  height: 100%;
  display: flex;
  align-items: center;
}

/* end faq */
/* reviews */
.start .reviews .container .row .reviews-container .review-text {
  margin: 0;
  text-align: center;
}
.start .reviews .container .row .reviews-container .stars-img {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .start .reviews .container .row .reviews-container .stars-img {
    width: 40%;
    height: 40%;
  }
}

/* end reviews */
/* footer */
footer .container div a .footers-logo {
  width: 35px;
  height: 35px;
}

/* end footer */
/* shop */
.start .container .shops-container .shops-div:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
@media only screen and (max-width: 990px) {
  .start .container .shops-container .shops-div:hover:hover {
    display: none;
  }
}
.start .container .shops-container .shops-div .preview-img {
  width: 80%;
  height: 55%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.start .container .shops-container .shops-div .shops-text {
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 432px) {
  .start .container .shops-container .shops-div .shops-text {
    padding-bottom: 10em;
  }
}
.start .container .shops-container .shops-div .shops-text .shop-img {
  width: 40px;
  height: 40px;
}

/* end shop */

/*# sourceMappingURL=style.css.map */
