<<<<<<< HEAD
/* header */
=======
h2 {
  margin: 1em 0;
}

/* header */

>>>>>>> services
.logo-img {
  width: 64px;
  height: 64px;
}

.navbar-brand {
  width: 64px;
}

.navbar-nav {
  margin: 0 auto;
}

/* end header */
<<<<<<< HEAD
=======

/* main */

main {
  padding: 0 8em;
}

/* end main */

/* services */

.services-text {
  display: flex;
  align-items: center;
}

.services-video {
  margin: auto;
}

/* end services */
>>>>>>> services
