/* cart */
#start {
  .cart {
    #cartContainer {
      #items {
        width: 70%;
        display: inline;
        li {
          color: white;
        }
        .empty {
          padding: 5% 0 0 0;
        }
        .empty2 {
          margin: 0 0 10% 0;
        }
      }
      #price {
        display: inline;
        width: 25%;
        li {
          color: white;
        }
      }
    }
    #totalPrice {
      color: white;
    }
  }
}

/* end cart */
