/* cart */
#start {
  margin-top: 2%;
  .cart {
    #items {
      .full {
        padding: 5% 0 0 0;
        color: white;
      }
      .empty {
        padding: 5% 0 0 0;
        color: white;
      }
      .empty2 {
        margin: 0 0 15% 0;
        color: white;
      }
    }
  }
}

/* end cart */
