/* generals */
* {
  margin: 0;
}

h2 {
  padding: 1em 0;
  color: white;
}

h3 {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: white;
}

p {
  color: white;
}

html {
  scroll-padding: 130px;
}

main {
  padding: 0 3em;
}

footer {
  background-color: #262626;
}

body {
  background-color: black;
}
/* end generals */
