/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  nav {
    div {
      a {
        width: 64px;
        .logo-img {
          width: 64px;
          height: 64px;
        }
      }
      div {
        .navbar-nav {
          margin: 0 auto;
          justify-content: center;
          .nav-item {
            padding: 0 10%;
            @media only screen and (min-width: 992px) {
              &:hover {
                @include animaciones(scale(1.4));
              }
            }
          }
        }
      }
    }
  }
}
/* end header */
