/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  nav {
    div {
      div {
        width: 30%;
        display: flex;
        a {
          width: 64px;

          .logo-img {
            width: 64px;
            height: 64px;
          }
        }
        a {
          text-decoration: none;
          place-self: center;
          h1 {
            margin: 0 auto;
            color: white;
            vertical-align: center;
            text-decoration: none;
          }
        }
      }

      .navbar-nav {
        margin: 0 auto;
        justify-content: center;
        .nav-item {
          padding: 0 10%;
          @media only screen and (min-width: 992px) {
            &:hover {
              @include animaciones(scale(1.4));
            }
          }
        }
      }
    }
  }
}

/* end header */
