/* reviews */
.start {
  .reviews {
    .container {
      .row {
        .reviews-container {
          .review-text {
            margin: 0;
            text-align: center;
          }
          .stars-img {
            width: 60%;
            display: block;
            margin: 0 auto;
            margin-bottom: 2em;
          }
        }
      }
    }
  }
}
/* end reviews */
