/* shop */
.start {
  .container {
    .shops-container {
      .shops-div {
        &:hover {
          @include animaciones(scale(1.1));
          @media only screen and (max-width: 990px) {
            &:hover {
              display: none;
            }
          }
        }
        .preview-img {
          width: map-get($prv-img, prv-img-width);
          height: map-get($prv-img, prv-img-height);
          display: flex;
          margin: 0 auto;
          justify-content: space-around;
        }
        .shops-text {
          margin: 0;
          text-align: center;
          @media only screen and (max-width: 432px) {
            padding-bottom: 10em;
          }
        }
        .shop-father {
          .shop-info {
            display: inline;
            color: white;
            .shop-img {
              width: 40px;
              height: 40px;
            }
          }
          .shopBtns {
            display: inline;
            color: white;
            .plusButton {
              background-color: rgb(56, 144, 56);
              width: 40px;
              height: 40px;
              text-align: center;
              color: white;
              border-radius: 10px;
            }
            .minusButton {
              background-color: red;
              width: 40px;
              height: 40px;
              text-align: center;
              color: white;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
/* end shop */
