.start {
  .container {
    .shops-container {
      .shops-div {
        &:hover {
          transform: scale(1.1);
        }
        .preview-img {
          width: 80%;
          height: 55%;
          display: flex;
          margin: 0 auto;
          justify-content: space-around;
        }
        .shops-text {
          margin: 0;
          text-align: center;
          .shop-img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
